.Results h3 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-shadow: 1px 1px 1px black;
    text-shadow:3px 10px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;
    line-height: 1.5;
}